body {
  font-family: 'Muli', sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  background-color: inherit;
  font-family: 'Muli', sans-serif;
  border-radius: 2px;
}

.header-btn {
  height: 100%;
  width: 10rem;
  color: white;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-btn:hover {
  color: white;
  border: none;
  filter: brightness(110%)
}

.header-btn:visited {
    text-decoration: none;
    color: white;
}

