/* #components-form-demo-normal-login .login-form {
    max-width: 300px;
  }
  #components-form-demo-normal-login .login-form-forgot {
    float: right;
  }
  #components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
    float: left;
  }
  #components-form-demo-normal-login .login-form-button {
    width: 100%;
  } */
.login-form{
  width: 50%;
  margin: 0 auto;
}

.form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-header {
  text-align: center;
}

.btnContainer {
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.loginBtn {
  background: #3bb54a;
  border: none;
  margin: 2%;
  width: 35%;
  font-weight: 500;
}

.loginBtn:hover {
  background: white;
  color: #3bb54a;
  border: 1px solid #3bb54a
}

.registerBtn {
  text-align: center;
  background: #2e8af7;
  border: none;
  color: white;
  width: 35%;
  font-weight: 500;
}

.registerBtn:hover {
  background: white;
  color: #2e8af7;
  border: 1px solid #2e8af7;
}

a {
  font-weight: 500;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.error-message {
  color: #D8000C
}
