body {
  font-family: 'Muli', sans-serif;
}

h1 {
  margin-top: 2%;
  text-align: center;
}

.orderBtn {
  display: block;
  margin: 0 auto;
  background: #3BB54A;
  border: none;
}

.orderBtn:hover{
  background: #2E8AF7
}


.orderInput {
  width: 80%;
  margin: 0 auto;
}

.orderFormWrapper {
  width: 60%;
  margin: 0 auto;
}


