body {
  font-family: 'Muli', sans-serif;
}

.form-container {
  width: 50%;
  margin: 2% auto;
  font-family: 'Muli', sans-serif;
}

.form-header {
  text-align: center;
}

.register {
  /* display: block;
  margin: 0 auto; */
  background: #3bb54a;
  border: none;
  width: 30%;
}

.register:hover {
  background: #2e8af7;
}

.registerBtnContainer{
  display: flex;
}

.cancelBtn {
  background: white;
  color: #2e8af7;
  width: 30%
}
