body {
  font-family: 'Muli', sans-serif;
}

.form-container {
  width: 50%;
  margin: 2% auto;
  font-family: 'Muli', sans-serif;
}

.form-header {
  text-align: center;
}

.btn {
  display: block;
  margin: 0 auto;
  background: #3bb54a;
  border: none;
}

.btn:hover {
  background: #2e8af7;
}
